<ion-header>
  <ion-toolbar>
    <ion-title class="center">Calculatrice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size="12" color="primary">
          <ion-label class="display">
            {{ display | number : '.0-8'}}
          </ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button
                (click)="reset()"
                size="large"
                expand="full"
                shape="round">
          AC
        </ion-button>
      </ion-col>

      <ion-col size="3">
      <ion-button color="dark"
                  (click)="calculate()"
                  size="large"
                  expand="full"
                  shape="round">
        =
      </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                    (click)="clickNumber(0)"
                    size="large"
                    expand="full"
                    shape="round">
          0
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button color="tertiary"
                    (click)="clickOperator('/')"
                    size="large"
                    expand="full"
                    shape="round">
          /
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(7)"
                size="large"
                expand="full"
                shape="round">7</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(8)"
                size="large"
                expand="full"
                shape="round">
          8
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(9)"
                size="large"
                expand="full"
                shape="round">
          9
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="tertiary"
                (click)="clickOperator('*')"
                size="large"
                expand="full"
                shape="round">
          <ion-icon size="large" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(4)"
                size="large"
                expand="full"
                shape="round">
          4
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(5)"
                size="large"
                expand="full"
                shape="round">
          5
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(6)"
                size="large"
                expand="full"
                shape="round">
          6
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="tertiary"
                (click)="clickOperator('-')"
                size="large"
                expand="full"
                shape="round">
          <ion-icon size="large" name="remove"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(1)"
                size="large"
                expand="full"
                shape="round">
          1
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(2)"
                size="large"
                expand="full"
                shape="round">
          2
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="medium"
                (click)="clickNumber(3)"
                size="large"
                expand="full"
                shape="round">
          3
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button color="tertiary"
                (click)="clickOperator('+')"
                    size="large"
                    expand="full"
                    shape="round">
          <ion-icon
                    name="add"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
