<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card>
     <ion-card-title>
         <h1><strong><i> École pluridisciplinaire internationale</i></strong></h1>
     </ion-card-title>

       <ion-list>
           <ion-item><h2><strong><i>{{contact.name}}</i></strong></h2></ion-item>
           <ion-item><h4><strong>Email:</strong></h4><h5>{{contact.email}}</h5></ion-item>
           <ion-item><h4><strong>Tel:</strong></h4><h5>{{contact.tel}}</h5></ion-item>
       </ion-list>
       <ion-card-content>
           <ion-img src="{{contact.logo}}"></ion-img>
           <ion-img src="{{contact.location}}"></ion-img>
       </ion-card-content>
   </ion-card>

</ion-content>
